/* GLOBAL */
body {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
}
header {
    font-family: 'Amatic SC', cursive;
}
/* HEADER SECTION */

header nav {
    background-color: yellow;
    color: orange;
    height: 76px;
    /* padding: 0 1rem; */
    }
    
    header nav ul {
    list-style: none;
    padding: 1.5rem;
    }
    
    header nav > ul > li {
        display: inline-block;
    }
    
    header nav > ul > li > a {
    border: 1px solid;
    border-radius: 20px;
    padding: .5rem 1.5rem;
    background-color:#7fff00;
}
    
    header nav ul > li > a:hover {
    color: #7fff00;
    background-color: #ff822e;
    border: none;
    }
    
    header> nav >ul > li > a:visited {
        color: #fb33db;
    }
header h1 {
    position: relative;
    top: 40%;
    left: 35%;
    color: rgb(228, 228, 228);
    ;
    font-size: 6rem;
    font-style: italic;
}

body {
    background-color: black;
}

#checkerboard {
    position: relative;
}

.box { 
    width: 100px;
    height: 100px;

background-color: #ff822e;

margin-bottom: 1rem;

display: inline-block;
}

.hide {
    visibility: hidden;
}
#green {
    background-color: #7fff00;
}
#blue {
    background-color: #0310ea;
}
#yellow {
    background-color: #fcf340;
}
#pink {
    background-color: #fb33db;
}
/* main */

main {
    width: 1500px;
    height: 800px;
    background-color: rgb(0, 255, 0, 0.50);
    position: absolute;
    top: 5%;
    left: 10%;
    right: 10%;
}

h1 {
    position: absolute;
    top: 1%;
    left: 30%;
    color: black;
    ;
    font-size: 6rem;
    font-style: italic;

}

/* ROW AND COLUMNS */
h2 {
    position: absolute;
    top: 19%;
    left: 20%;
    color: black;
    ;
    font-size: 2rem;
    font-style: italic;
}

section {
    position: absolute;
    margin: 3rem 2rem;
    top: 25%;
    left: 20%;
}

.column {
    float: left;
    width: 70%;
    background-color: #fcf340;
    border-radius: 25px;
    padding: .5rem 4rem 3rem;
    margin: 0 1rem;
}
section-two {
    position: absolute;
    text-align: center;
    margin: 3rem 7rem;
    top: -10%;
    left: 105%;
}
.columntwo {
    float: right;
    width: 50%;
    background-color: #fcf340;
    border-radius: 25px;
    padding: .5rem 3rem 12rem;
    margin: 0 .5rem;
}
.column h3.heading {
    letter-spacing: 8px;
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
    color: lightseagreen;
}
.columntwo h3.heading {
    letter-spacing: 8px;
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
    color: lightseagreen;
}
form {
    padding: 2rem 2.5rem;
    background-color: #0310ea;
}

form .form_group {
    background-color: #ff822e;
    padding: 1rem;
    margin: .5rem 0;
}


form>.form_group>select,
form>.form_group>textarea {
    display: block;
}
p {
}

footer {
    height: 100px;
    background-color: #cc6ea8fd;
    text-align: center;
}

footer p {
    padding: 2.5rem 0;
}